body{
    background-color: #2C3531;
    font-family: 'Audiowide', cursive;
    color: #D1E8E2;
}

.jumbotron{
    background: none;
    text-align: center;
    
}
.display-4 {
    font-size: 8rem;
      text-shadow: 2px 2px 8px #2C3531;
}

.navbar {
    color: #D1E8E2 !important;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: double;
    border-left-style: none;
    border-color: #D1E8E2;
}

a{
    color: #D1E8E2;
}

.navbar-dark{
    color: #D1E8E2;
}

.navbar-dark .navbar-nav .nav-link{
    color: #D1E8E2 !important;
}

.navbar-dark .navbar-brand{
    color: #D1E8E2 !important;
}


.card {
    background-color: #116466;
    text-align: center;
}
h2{
    text-align: center;
}

a:link {
    color: #D1E8E2; 
} 

a:hover  {
    color: #FFCB9A !important; 
} 
.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: #FFCB9A !important; 
}
.navbar-dark:hover .navbar-brand:hover {
    color: #FFCB9A !important; 
}

#header {
    position: relative;
   /* background-image: url(https://f4.bcbits.com/img/a0117998545_10.jpg);*/
    background-image: url("/IMG/backgroundsi.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #D1E8E2;
    text-align: center;
    padding: 7.5em 0 2em 0;
    cursor: default;
    height: 800px;
}

#footer {
    position: relative;
    overflow: hidden;
    padding: 1em 0 1em 0;
    background-color: #116466;
    color: #D1E8E2;
    margin-top: 5rem;
}

.footericon{
    font-size: 4rem;
}