@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.background-image {
  background: url("/IMG/backgroundsi.jpg") no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  opacity: 0;
  
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
}

.background-image.visible {
  opacity: 1;
}

body{
    background-color: #2C3531;
    font-family: 'Audiowide', cursive;
    color: #D1E8E2;
}

.jumbotron{
    background: none;
    text-align: center;
    
}
.display-4 {
    font-size: 8rem;
      text-shadow: 2px 2px 8px #2C3531;
}

.navbar {
    color: #D1E8E2 !important;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: double;
    border-left-style: none;
    border-color: #D1E8E2;
}

a{
    color: #D1E8E2;
}

.navbar-dark{
    color: #D1E8E2;
}

.navbar-dark .navbar-nav .nav-link{
    color: #D1E8E2 !important;
}

.navbar-dark .navbar-brand{
    color: #D1E8E2 !important;
}


.card {
    background-color: #116466;
    text-align: center;
}
h2{
    text-align: center;
}

a:link {
    color: #D1E8E2; 
} 

a:hover  {
    color: #FFCB9A !important; 
} 
.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: #FFCB9A !important; 
}
.navbar-dark:hover .navbar-brand:hover {
    color: #FFCB9A !important; 
}

#header {
    position: relative;
   /* background-image: url(https://f4.bcbits.com/img/a0117998545_10.jpg);*/
    background-image: url("/IMG/backgroundsi.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #D1E8E2;
    text-align: center;
    padding: 7.5em 0 2em 0;
    cursor: default;
    height: 400px;
   
}

#footer {
    position: relative;
    overflow: hidden;
    padding: 1em 0 1em 0;
    background-color: #116466;
    color: #D1E8E2;
    margin-top: 5rem;
}

.footericon{
    font-size: 4rem;
}

.massivemargin{
    margin-top: 500px;
}

.orange {
    color: #FFCB9A;
}