<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <title>Hello world</title>


    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="#">HIEROPHLEX</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>

            </div>
        </nav>
        <br>
            <br>
                <div class="container">
                    <div class="jumbotron mt-5">
                        <div class="container">
                            <h1 class="display-4">HIEROPHLEX</h1>             
                        </div>
                    </div>

                    
                        <div class="col d-flex justify-content-center">
                            <h2>NEW ALBUM!</h2>
                            </div>
                        <div class="col d-flex justify-content-center">
                            
                           
                            <div class="card" style="width: 75%;">
                                <a href="https://hierophlex.bandcamp.com/album/subatomic-conspiracy?fbclid=IwAR08mr8NxqUS93i92U6ssPuXD75-eCGKZcTm5yIvMFyUgPQ9pDOz61ZnPns"><img class="card-img-top" th:src="@{/IMG/album.jpg}" alt="Album cover"></a>
                                    <div class="card-body">
                                        <p class="card-text"><a href="https://hierophlex.bandcamp.com/album/subatomic-conspiracy?fbclid=IwAR08mr8NxqUS93i92U6ssPuXD75-eCGKZcTm5yIvMFyUgPQ9pDOz61ZnPns">Bandcamp</a></p>
                                    </div>
                            </div>
                        </div>

                    </div>

                
                <div th:replace="fragments/layout :: scipt"></div>
                </body>
                </html>
