<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <title>Hello world</title>


    </head>
    <body>
        <div th:replace="fragments/layout :: navbar"></div>

        <div class="background-image">
            <div class="jumbotron mt-5">
                <div class="container mt-2">
                    <h1 class="display-4">HIEROPHLEX</h1>             
                </div>
            </div>
        </div>
        <div class="jumbotron mt-5 w-100">
            <div class="container mt-2">
                <h1 class="display-4 orange">HIEROPHLEX</h1>             
            </div>
        </div>

       
                <div class="container massivemargin">



                    <div class="col d-flex justify-content-center">
                        <h2>NEW ALBUM!</h2>
                    </div>
                    <div class="col d-flex justify-content-center">


                        <div class="card" style="width: 75%;">
                            <a href="https://hierophlex.bandcamp.com/album/subatomic-conspiracy?fbclid=IwAR08mr8NxqUS93i92U6ssPuXD75-eCGKZcTm5yIvMFyUgPQ9pDOz61ZnPns"><img class="card-img-top" th:src="@{/IMG/album.jpg}" alt="Album cover"></a>
                            <div class="card-body">
                                <p class="card-text"><a href="https://hierophlex.bandcamp.com/album/subatomic-conspiracy?fbclid=IwAR08mr8NxqUS93i92U6ssPuXD75-eCGKZcTm5yIvMFyUgPQ9pDOz61ZnPns">Bandcamp</a></p>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="footer">
                    <div class="container">
                        <div class="col d-flex flex-column text-center justify-content-center">
                            <p> Testi teksti</p>
                        

                            <div class="footericon">
                                <i class="fas fa-headphones-alt"></i>
                                <i class="fas fa-music"></i>
                                <a href="https://soundcloud.com/hierophlex" ><i class="fab fa-soundcloud"></i></a>


                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright text-center py-3">© 2020 Copyright:
                        <a href="https://tpremes.herokuapp.com/"> TPRemes/Magistrum</a>
                    </div>
                </div>        
                <!-- Copyright -->

                <!-- Copyright -->
                <div th:replace="fragments/layout :: scipt"></div>
                </body>
                </html>
